footer {
    background-color: #000;
    color: white;
    text-align: left;
    margin-top: 20px;
    padding: 40px;
    margin: 0;
} 
footer h5 {
    color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}
footer h4{
    font-size: 26px;
    width: 35%;
    margin-top: 30px;
    margin-bottom: 10px;
}
footer p {
    font-size: 16px;
    width: 27.5%;
    margin: 0;
    color: #9f9fa3;
    line-height: 25px;

}
footer .extra-detail a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 20px;
    display: block;
    margin-bottom: 15px;
}
footer #join-us{
    font-weight: bold;
    margin: 0;
}
footer .fa-solid{
    color: #f64137;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 26px;
    position: relative;
    top: 5px;
}
.footer {
    position: relative;
}
footer .social-links {
    position: absolute;
    padding-left: 80%;
    top: 50px;
}
footer .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
footer .social-links a:hover{
    background-color: #24262b;
    opacity: 90%;
}
footer .social-links a:nth-child(6)
{
    display: block;
    width: 100%;
    background-color: #000;
    text-align: left;
    text-decoration: none;
    margin-bottom: 0;
}
footer .social-links a:nth-child(7)
{
    display: block;
    width: 90%;
    background-color: #000;
    text-align: left;
    text-decoration: none;
    margin: 0;
    position: relative;
    top: 2px;
}
footer hr {
    display: block;
    width: 100%;
    border: 1px white solid;
    margin-top: 60px;
}